li {
  color: red;
}
html {
  background-color: #00539f;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #9ddfc7;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
img {
  display: block;
  max-width: 25%;
  margin: 0 auto;
}
.container {
  display: flex;
  gap: 0.625%;
}

a {
  flex: 1;
  text-decoration: none;
  outline-color: transparent;
  text-align: center;
  line-height: 3;
  color: black;
}

a:link,
a:visited,
a:focus {
  background: palegoldenrod;
  color: black;
}

a:hover {
  background: orange;
}

a:active {
  background: darkred;
  color: white;
}
